<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.AntWat.AnyEquation" android:versionName="0.06" android:versionCode="6">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="AnyEquation" android:icon="@drawable/icon"></application>
</manifest>